# Common
NODE_ENV=development

# Frontend
VITE_API_BASE_URL=http://localhost:3000

# Backend
PORT=3000
CLIENT_URL=http://localhost:5173

# AI
AI_API_KEY=
AI_MODEL=

# Database - Optional
# 각자 개인 개발 DB의 PostgreSQL URL을 사용합니다.
# 예: Supabase, AWS RDS, 로컬 PostgreSQL, Docker PostgreSQL
DATABASE_URL=postgresql://사용자이름:사용자비밀번호@localhost:5432/DB이름
POSTGRES_USER=neet2work
POSTGRES_PASSWORD=neet2work
POSTGRES_DB=neet2work

# 자주쓰는 특수문자 인코딩
# 혹은 powerShell에서 [System.Uri]::EscapeDataString("비밀번호")
# 혹은 powerShell에서 [System.Uri]::EscapeDataString('비밀번호')
#  $등이 포함 될 경우 powerShell에서 다르게 인식 할 수 있음
# @  -> %40
# :  -> %3A
# /  -> %2F
# ?  -> %3F
# #  -> %23
# &  -> %26
# =  -> %3D
# +  -> %2B
# %  -> %25
# 공백 -> %20

# AWS RDS - Optional
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Cloudflare R2 - Optional
R2_ENDPOINT=
R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

# Oracle Cloud - Optional
ORACLE_CLOUD_REGION=
ORACLE_CLOUD_CONFIG_PATH=

# Figma - Optional
FIGMA_ACCESS_TOKEN=
FIGMA_FILE_KEY=
FIGMA_TARGET_NODE_ID=
FIGMA_TARGET_TEXT_LAYER_NAME=
